:root {
    --main-blue: #12AAEB;
    --body-background: #e7ecf2;
    --border-bottom: #d1e8fa;
    --font-color: #889196;
    --sign-up: #d8d8d8;
    --blue-background: #bedbe7;
    --popular-and-pricing: #12aaeb;
    --logo-and-header-font:Bungee Shade;
    --nav-font: Bungee;
  
  }

  

  /*weather 10 changes*/

#icon {
    width: 50px;
    height: auto;
    margin: -20px 0 -20px -5px;
}

#fivedays {
    background-color: var(--main-blue);
    text-align: center;
}


#fivedays div h2 {
    margin: 0 0 -10px 0;
}

#fivedays div img {
    height: 120px;
    width: auto;
    margin: -20px 0;
}

#fivedays div p {
    margin: 0;
    font-size: 25px;
}

.inline {
    display: inline;
}

html {
    background-color: var(--blue-background);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: var(--nav-font);
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-blue);
    border-bottom: 4px solid black;
}

#logo-wrapper {
    margin-left: 20px;
}


nav a {
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.active {
    color: var(--main-blue);
}


nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
    font-size: 25px;
    font-family: var(--nav-font);
}
ul.service-info {
    padding:0;
}

nav a:hover {
    color: var(--main-blue);
}

h1 {
    
    font-size: 40px;
    
}

#pancakeswrapper {
    display: none;
}

.pancakes {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
}
  

li {
color: var(--font-color);
list-style-type: none;
line-height:2em;
}

#phone, #email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#phone img, #email img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/*small screen*/
  @media only screen and (max-width: 799px) {

    header {
        display: flex;
        flex-direction: column;
    }

    #fivedayforecast {
        display: none;
    }
      
    body {
        margin: auto auto;
        max-width: 500px;
    }

    main img {
        width: 100%;
    }

    #home-menu .hidden {
        display: none;
    }

    #logo {
        width: 80%;
        height: auto;
    }

    h1 {
        text-align: center;
        margin: 0;
        font-size: 20px;
    }

    #menubutton {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    ul li {
        border: 2px solid black;
        background-color: var(--body-background);
        text-align: center;
    }

    #headertext p {
        display: none;
    }

    #socialmedia {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: var(--blue-background);
    }

    #socialmedia a img {
        width: 50%;
        height: auto;
    }

    #socialmedia a {
        display: flex;
        justify-content: space-around;  
    }

    #socialmedia a:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: var(--body-background);
    }

    .contactinfowrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #phone, #email {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    iframe {
        width: 100%;
        height: 300px;
    }

    h1, h2, h3, h4, h5 {
        margin-left: 10px;
    }

    .text-block {
        text-align: center;
    }
    /*events*/
    #events {
        text-align: center;
        border: 3px solid black;
        background-color: var(--main-blue);
        font-size: 15px;
        font-family: var(--nav-font);
    }
}

/*large screen*/
@media only screen and (min-width: 800px) {
    /*article*/
    .article-container {
        display: flex;
    }

    .article-container img {
        margin-left: 10px;
        width: 100%;
        height: 100%;
        border: 3px solid black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .article-container img:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
        
    }


    .article-container div {
        font-size: 18px;
    }

    iframe{
        width: 500px;
        height: 200px;
    }


    nav {
        background-color: var(--body-background);
        border: 2px solid black;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
    
    main {
        max-width: 1000px;
        margin: auto auto;
        
    }

    #headertext {
        margin: 0 0 0 50px;
        font-family: var(--nav-font);
    }
    
    #headertext h1 {
        margin-bottom: 0;
    }
    
    #headertext p {
        margin: -30px 0 15px 80px;
    }
        
    main img, picture {
        width: 100%;
        height: auto;
    }

    h2, h3, h4, h5 {
        font-size: 40px;
        margin: 0 50px 0 0;
    }

    #menubutton {
        display: none;
    }

    .container {
        position: relative;
        font-family: Arial;
      }
      
    .text-block {
        position: absolute;
        width: 30%;
        bottom: 15%;
        left: 10%;
        background-color: var(--main-blue);
        opacity: .8;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        line-height: normal;
        border: 3px solid black;
      }

      .text-block:hover {
        opacity: 1;
      }

      .text-block h3 {
        font-size: 14px;
    }


      #fivedays {
          display: flex;
          justify-content: space-around;
          border: 2px solid black;
          background-color: var(--main-blue);
          padding: 20px 0 20px 0;
      }

      
    


    footer {
        border: 3px solid black;
        margin: 20px 0 0 0;
        background-color: var(--main-blue);
    }

    .footerwrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        max-width: 1000px;
        margin: auto;
    }

    footer img {
        width: 50%;
        height: auto;
    }

    div.footerwrapper div h5 {
        font-size: 20px;
    }

    #socialmedia {
        max-width: 300px;
        display: flex;    
        background-color: var(--blue-background);
        border: 3px solid black;
    }

    #socialmedia a {
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    #socialmedia a:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: var(--body-background);
    }

        /*events*/
    #events {
        text-align: center;
        border: 3px solid black;
        background-color: var(--main-blue);
        font-size: 20px;
        font-family: var(--nav-font);
    }

}

@media only screen and (min-width: 900px) { 
    .text-block {
        position: absolute;
        width: 25%;
        bottom: 25%;
        left: 10%;
        background-color: var(--main-blue);
        opacity: .8;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        line-height: normal;
      }

      .text-block h3 {
        font-size: 16px;
    }
  }

  