.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    margin: 20px 30px 0 30px;
}

img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
  }

body {
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
}